@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Poppins:wght@300&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --mainBackground: rgb(247, 247, 241);
  --headerColor: #e9d173;
  --primaryTextColor: black;
  --secondaryTextColor: #fff3ff;
  --primaryFontFamily: "Poppins", sans-serif;
  --secondaryFontFamily: "Ubuntu", sans-serif;
  --logoFont: "Luxurious Script", cursive;
}

body {
  background: var(--mainBackground);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--primaryFontFamily);
}

img {
  max-width: 100%;
}

h2 {
  font-family: var(--secondaryFontFamily);
}

i {
  cursor: pointer;
}

p {
  font-family: var(--primaryFontFamily);
}

li {
  list-style: none;
}

button {
  border: none;
  background: inherit;
  color: inherit;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* overflow: clip; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  color: var(--headerColor);
}

nav ul {
  display: none;
}

nav .sign-up {
  display: none;
}

.logo {
  text-decoration: none;
  font-size: 24px;
  color: inherit;
  font-family: var(--logoFont);
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.sidebar-toggle {
  font-size: 1.3rem;
  color: inherit;
}

aside {
  position: fixed;
  right: 0;
  background: rgb(225, 226, 210);
  height: 100vh;
  top: 0;
  width: 100vw;
  transition: all, 0.3s linear;
  transform: translate(100%);
  z-index: 1000;
  display: none;
}

.show-sidebar {
  display: block;
  transform: translate(0%);
}

.close-sidebar {
  position: absolute;
  right: 3rem;
  top: 3rem;
  font-size: 1.7rem;
  transition: all 0.3s ease-in-out;
}

aside ul {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  justify-content: center;
  align-items: center;
}

aside ul li {
  font-size: 1.6rem;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  transition: all 0.1s linear;
}

aside ul li:hover {
  outline: 2px dashed;
}

aside ul li:nth-last-child(2),
aside ul li:last-of-type:hover {
  outline: none;
}

aside .sign-up {
  font-family: var(--primaryFontFamily);
  border: 2px solid;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1em;
}

aside .social-links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

aside .social-links i {
  transition: all 0.1s linear;
}

aside .social-links i:hover,
aside .social-links i:active {
  outline-offset: 4px;
  outline: 2px dashed;
}

.heading {
  background-size: cover;
  background-position: center center;
  background-color: grey;
  background-blend-mode: multiply;
  height: 100vh;
  background-image: url("images/home5.jpg");
  text-align: center;
  color: var(--headerColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.description-text {
  margin-top: 18rem;
}

.description-text h2 {
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 0.1rem;
  /* font-family: var(--logoFont); */
}

.description-text p {
  font-size: 0.9rem;
  color: rgb(215, 216, 180);
  font-style: italic;
  text-transform: lowercase;
}

.buttons {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
}

.buttons button {
  border: 2px solid;
  text-align: left;
  padding: 0.5rem 0.8rem;
  width: 22rem;
  border-radius: 0.8em 0.8em 0em 0em;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.buttons button:last-of-type {
  border-radius: 0em 0 0.8em 0.8em;
}

.buttons button:hover {
  background: #f0e9924e;
}

.explore-section {
  margin-top: 3rem;
  padding: 0 2rem;
}

.mini-description {
  text-align: center;
  margin-bottom: 3rem;
}

.mini-description h2 {
  font-size: 1.8rem;
  padding-bottom: 1rem;
  border-bottom: 2px dashed;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.mini-description p {
  /* display: none; */
  /* color: #b3a91d; */
  font-size: 1.2rem;
}

.property-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

.property-modal .close-modal {
  display: none;
}

.property {
  /* outline: 2px dashed; */
  cursor: pointer;
}

.property img {
  object-fit: cover;
  aspect-ratio: 16/9;
  margin-bottom: 1rem;
  border-radius: 0.3em;
  filter: brightness(85%);
  transition: all 0.1s linear;
  /* border: 2px dashed; */
}

.property h3 {
  font-family: var(--secondaryFontFamily);
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.1rem;
  color: #b3a91d;
  border-bottom: 1px dotted;
}

.property:hover img {
  filter: brightness(100%);
}

.property .details {
  display: none;
}

.active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background: rgba(32, 30, 30, 0.448);
  display: grid;
  place-items: center;
}

.active .property {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  /* border: 2px dashed black; */
  padding: 1rem 0;
  /* padding-top: 3rem; */
  border-radius: 2.2em;
  background: aliceblue;
  cursor: unset;
  max-width: 80%;
}

.active h3 {
  display: none;
}

.active .close-modal {
  display: block;
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 400;
  height: 1.5rem;
  width: 1.5rem;
  background: rgb(181, 109, 38);
  transform: translate(10%, -10%);
  border-radius: 50%;
}

.active .close-modal:active {
  background: rgb(246, 168, 90);
}

.active .close-modal i {
  color: white;
  font-size: 0.8rem;
}

.active .property img {
  width: 90%;
  object-fit: cover;
  /* aspect-ratio: 1; */
  height: 50%;
  aspect-ratio: 16/9;
  border-radius: 1.5em;
  filter: brightness(100%);
}

.active .details {
  display: block;
  width: 90%;
  border-radius: 1.5em;
  box-shadow: 0 0 5px 0 rgb(130, 125, 125);
  padding: 0.5rem;
  background: white;
}

.active h2 {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 1rem;
  color: rgb(134, 116, 16);
}

.active p {
  font-size: 0.8rem;
  font-weight: 800;
  color: rgb(134, 116, 16);
  font-family: var(--secondaryFontFamily);
}

.active p span {
  font-weight: 300;
  color: black;
  font-family: var(--primaryFontFamily);
}
footer{
  background-image: url(images/grainy.jpg);
  background-size: cover;
}
.columns {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 30px;
}
@media (min-width: 800px) {
  nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 100%;
  }

  nav .sign-up {
    display: block;
    border: 2px solid var(--headerColor);
    width: 8rem;
    padding: 0.5rem;
    border-radius: 1rem 0 1rem 0;
    font-size: 1rem;
    color: inherit;
    cursor: pointer;
  }

  nav .sign-up:hover {
    background: #f0e9924e;
  }

  .sidebar-toggle {
    display: none;
  }

  .property-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .property h3 {
    font-size: 0.85rem;
  }

  .active .property {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 2rem;
    gap: 1rem;
    max-width: 60%;
  }

  .active .property img {
    width: 60%;
    aspect-ratio: 1;
  }

  .active .close-modal {
    height: 2.5rem;
    width: 2.5rem;
    transform: translate(20%, -20%);
  }

  .active .close-modal i {
    font-size: 1.2rem;
  }

  .active .property .details {
    width: 40%;
    padding: 2rem 0.5rem;
  }

  .active h2 {
    font-size: 1.3rem;
  }

  .active p {
    font-size: 1rem;
  }
  
.description {
  padding: 20px;
}

.description h1 {
  text-align: center;
  margin-bottom: 20px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}
.box {
  background-color: #fff; 
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  width: 30%; 
  margin-bottom: 20px; 
  margin-left: 20px;
  margin-right: 20px;
}
.box h3 {
  margin-bottom: 10px;
}
.box:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}
.services h1{
  text-align: center;
  margin-bottom: 20px; 
}
footer{
  background-image: url(images/grainy.jpg);
  background-size: cover;
}
.columns {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 30px;
}
li{
  list-style: none;
  padding-top: 10px;
  color: #999;
  opacity: 0.7;
} 
.column {
  flex: 1;
  padding: 10px;
}
footer p{
  color: #fff;
  margin-left: 20px;
}
.column ul li {
  font-size: 16px;
  transition: transform 0.2s ease-in-out;
}
.column ul li:hover {
  transform: scale(1.1);
}
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .services h1{
    text-align: center;
    margin-bottom: 20px; 
    margin-top: 20px; 
  }
  .box {
    width: 100%; 
    background-color: #fff; 
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px; 
    padding-left: 30px;
  }
  .description {
    padding: 20px;
  }
  
  .description h1 {
    text-align: center;
    margin-bottom: 20px;
  }
}